/* Mobile */
@media screen and (max-width: 1300px) {

    .container {
        margin-right: 18px;
        margin-left: 18px;
    }

    .menu-navigation,
    .button-header,
    .slider-menu,
    .slider-arrows,
    .project-photo,
    .request-container,
    .pig-cost,
    .request-img,   
    .clients,
    .wildest-fantasies-slider,
    .wild-photos,
    .footer {
        display: none;
    }

    .header,
    .header-content {
        height: 57px;
    }

    .header-phone-number {
        color: #fff;
        text-decoration: none;
        margin-right: 0;
    }

    .home-section {
        height: 476px;
    }

    .home-container {
        padding-top: 82px;
    }

    .home-title {
        font-size: 23px;
        line-height: 31px;
    }

    .home-paragraph {
        font-size: 14px;
        line-height: 19px;
    }

    .home-button,
    .home-button-transparent {
        padding: 20px 0;
        width: 100%;
    }

    .home-button {
        margin-top: 55px;
    }

    .home-button-transparent {
        margin-top: 26px;
    }

    .projects-section {
        display: inline-block;
        height: 680px;
    }

    .projects-container {
        justify-content: center;
    }

    .subtitle {
        text-align: center;
        margin-top: 0;
        font-size: 22px;
        line-height: 30px;
    }

    .project-paragraph {
        text-align: center;
        margin-top: 37px;
        font-size: 11px;
        line-height: 17px;
    }

    .mobile-slider {
        background-image: url("../images/mobile-projects-photo-slider.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 241px;
        margin-top: 70px;
    }

    .previous-photo,
    .next-photo {
        background-color: #E3B873;
        color: #fff;
        font-size: 17px;
        border-radius: 50%;
    }

    .previous-photo {
        padding: 4px 12px 4px 11px;
        margin-left: 14px;
    }

    .next-photo {
        padding: 4px 11px 4px 12px;
        margin-right: 14px;
    }

    .mobile-margin-params {
        margin-top: 36px;
    }

    .title-params {
        font-size: 14px;
        line-height: 19px;
    }

    .project-params {
        font-size: 11px;
        line-height: 15px;
    }

    .online-control-section {
        background-color: #131313;
        height: 564px;
    }

    .video {
        width: 100%;
        height: 207px;
    }

    .online-control-title {
        font-size: 22px;
        line-height: 30px;
    }

    .video-button-play {
        font-size: 16px;
        padding: 10px 10px 9px 14px;
    }

    .video-control-hr {
        margin-top: 28px;
    }

    .video-control-paragraph {
        margin-top: 21px;
        color: #fff;
        font-size: 11px;
        line-height: 19px;
        width: 100%;
    }

    .video-control-form {
        width: 100%;
        justify-content: flex-start;
        margin-top: 22px;
    }

    .input-label {
        width: 100%;
        margin-top: 63px;
        color: rgba(255, 255, 255, 0.5);
    }

    .form-input-text {
        width: 100%;
        margin-right: 0;
        line-height: 19px;
        background: transparent;
        color: #fff;
        
    }

    .form-input-text::placeholder {
        color: #fff;
    }

    .checkbox-label {
        order: 0;
        margin-top: 26px;
        color: #fff;
    }
    
    .form-button {
        order: 1;
        padding: 17px 0;
        width: 100%;
        margin-top: 62px;
    }

    .types-of-repair {
        display: inline-block;
        height: 1842px;
    }

    .types-of-repair-title {
        font-size: 22px;
        line-height: 30px;
        margin-top: 10px;
    }

    .cards {
        justify-content: stretch;
        flex-direction: column;
        width: 100%;
    }

    .card {
        margin-top: 59px;
    }

    .card-first {
        margin-top: 0;
    }

    .card-image-background {
        width: 100%;
        height: 365px;
    }

    .card-description {
        margin: 0;
        top: -147px;
        margin-bottom: -147px;
        width: 280px;
        height: 243px;
    }

    .card-title {
        padding-top: 21px;
        font-size: 15px;
        line-height: 21px;
    }

    .card-item {
        line-height: 22px;
    }

    .card-cost-div {
        height: 40px;
        width: 190px;
        font-size: 15px;
        line-height: 21px;
    }

    .wildest-fantasies {
        height: 220px;
        background-color: #fff;
    }

    .wild-overlay {
        display: none;
    }

    .wildest-fantasies {
        background-image: none;
    }

    .wild-text {
        margin: 0;
    }

    .subtitle-wild {
        padding: 0;
        margin: 0;
    }

    .wildest-fantasies-container {
        justify-content: center;
        flex-direction: column;
    }

    .wild-mobile-slider {
        margin-top: 39px;
        background-image: url("../images/mobile-wild-photo-slider.png");
    }

    .contacts {
        display: inline-block;
        background-image: none;
        background-color: #131313;
        height: 1192px;
    }

    .questions {
        width: 100%;
        margin-top: 120px;
    }

    .contacts-container {
        position: initial;
    }

    .contacts-form {
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: flex-start;
    }

    .contacts-form-title {
        margin-top: 52px;
    }

    .contacts-label {
        width: 100%;
    }

    .contacts-input {
        width: 100%;
    }

    .contacts-checkbox-label {
        text-align: left;
    }

    .location {
        margin-top: 186px;
    }

    .adress {
        margin-top: 32px;
        font-size: 18px;
        line-height: 25px;
    }

    .map {
       width: 100%;
       order: -1;
    }

    .social-icons {
        margin-top: 23px;
    }

    .soc-icon {
        width: 40px;
        height: 40px;
    }

    .email {
        margin-right: 20px;
    }
    
    .social-icon-email {
        width: 20px;
        height: 20px;
        padding-top: 11px;
    }
    
    .social-icon-inst {
        width: 20px;
        height: 20px;
        padding-top: 10px;
    }

}