* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunoti Sans', sans-serif;
    font-style: normal;
    box-sizing: border-box;
    background-color: #fff;
}

/* 

    Header

*/

.header{
    background-color: #131313;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    height: 83px;
    width: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 83px;
}

.logo {
    color: #E3B873;
}

.navbar {
    margin: 0 auto;
}

.menu-navigation {
    display: flex;
}

.menu-navigation__item {
    list-style: none;
    margin-right: 47px;
}

.menu-navigation__item:last-child {
    margin-right: 0px;
}

.menu-navigation__link {
    text-decoration: none;
    color: #fff;
    transition:  .5s;
}

.menu-navigation__link:hover {
    color: #E3B873;
    transition: .5s;
}

.header-phone-number {
    color: #E3B873;
    text-decoration: underline;
    margin-right: 45px;
}

.button {
    background-color: #E3B873;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    color: #fff;
    border: 0;
    outline:none;
    cursor: pointer;
    text-transform: uppercase;
}

.button-header {
    padding: 13px 33px;
    font-style: italic;
}

/*

    Home

*/

.home-section {
    background-image: url(../images/home.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 707px;
    position: relative;
}

.home-container {
    padding-top: 194px;
    position: relative;
    z-index: 1;
}

.overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.title {
    font-family: 'Yeseva One', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.home-title {
    font-size: 40px;
    line-height: 53px;
    color: #fff;
}

.title-color-span {
    color: #E3B873;
}

.home-paragraph {
    color: #fff;
    font-size: 22px;
    line-height: 36px;
    margin-top: 19px;
}

.home-button {
    padding: 20px 42px;
    font-style: italic;
    font-size: 11px;
    margin-right: 20px;
    margin-top: 32px;
}

.home-button-transparent {
    padding: 19px 23px;
    font-style: italic;
    font-size: 11px;
    background: transparent;
    border: 1px solid #fff;
    outline:none;
    color: #fff;
    cursor: pointer;
}

/* 

    Projects

*/

.projects-section {
    width: 100%;
    height: 710px;
    background-color: #131313; 
    padding-bottom: 364px;
}

.projects-container {
    display: flex;
    justify-content: space-between;
    margin-top: 53px;
}

/* Projects slider menu */

.slider-menu {
    font-family: 'Yeseva One', sans-serif;
    padding-top: 107px;
    display: flex;
    justify-content: flex-end;
    margin-right: 56px;
}

.slider-menu__item {
    list-style: none;
}

.slider-menu__item {
    margin-right: 60px;
}

.slider-menu__item:last-child {
    margin-right: 0;
}

.slider_menu__link {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
}

.slider_menu__link:hover {
    border-bottom: 1px rgba(227, 184, 115, 1) solid;
    color: rgba(227, 184, 115, 1);
}

/* Projects content */

.content-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-photo {
    width: 679px;
    height: 482px;
}

.subtitle {
    font-size: 27px;
    line-height: 37px;
    color: #E3B873;
    letter-spacing: -0.07em;
}

.project-paragraph {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
}

.project-parameters {
    display: flex;
    flex-wrap: wrap;
    width: 344px;
}

.parametr {
    padding-bottom: 34px;
    width: 172px;
}

.title-params {
    color: #E3B873;
    font-size: 18px;
    line-height: 25px;
}

.project-params {
    font-size: 13px;
    line-height: 21px;
    color: #fff;
}

.slider-arrows {
    display: flex;
    gap: 29px;
}

.mobile-slider {
    display: none;
}

/* 

    Online Control

*/

.online-control-section {
    width: 100%;
    height: 746px;
}

.online-control-conteiner {
    text-align: center;
    position: relative;
    z-index: 1;
    top: -321px;
    margin-bottom: -321px;
}

.online-control-title {
    font-size: 20px;
    line-height: 28px;
    color: #fff;
}

.icon-under-title {
    margin-top: 21px;
    text-align: center;
}

.video {
    background-image: url("../images/control-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 434px;
    width: 817px;
    margin: 0 auto;
    margin-top: 40px;
    filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-button-play {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 24px;
    padding: 13px 13px 12px 17px;
    background-color: #E3B873;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
}

.video-control-hr {
    margin-top: 60px;
}

.video-control-paragraph {
    margin: 0 auto;
    word-wrap: break-word;
    width: 681px;
    font-size: 18px;
    line-height: 37px;
    color: #363636;
    margin-top: 34px;
}

.video-control-form {
    margin: 0 auto;
    width: 817px;
    margin-top: 92px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input-label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-input-text {
    width: 231px;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    color: #000;
    outline: none;
    margin-right: 49px;
}

.form-input-text::placeholder {
    color: #000;
}

.form-input-text:focus::placeholder {
    color: transparent;
}

.form-button {
    padding: 17px 76px;
    font-size: 13px;
    line-height: 27px;
}

.checkbox-label {
    cursor: pointer;
    margin-top: 33px;
    font-size: 14px;
    line-height: 23px;
}
.checkbox{
    display: none;
}
.fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background-color: #E3B873;
    border-radius: 1px;
    color: #fff;
    justify-content: center;
}
.fake::before{
    content:"\2713";
    position: relative;
    top: -2px;
    opacity: 0;
    transition: .2s;
}
.checkbox:checked + .fake::before{
    opacity: 1;
}

/* 

    Types Of Repair

*/

.types-of-repair {
    width: 100%;
    height: 1872px;
}

.types-of-repair-container {
    margin-top: 78px;
}

.types-of-repair-title {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.cards {
    margin-top: 31px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.card-description {
    margin: 0 auto;
    position: relative;
    top: -127px;
    margin-bottom: -127px;
    width: 330px;
    height: 292px;
    background-color: #fff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.card-title {
    text-transform: none;
    font-size: 18px;
    line-height: 25px;
    margin-left: 34px;
    padding-top: 25px;
    color: #181818;
}

.cards-items {
    margin-left: 49px;
    margin-top: 13px;
}

.card-item {
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.card-cost-div {
    position: relative;
    width: 228px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 14px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    cursor: default;
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 25px;
}

.request-container {
    display: flex;
    flex-direction: row;
    height: 690px;
    margin-top: 124px;
}

.enumeration-points {
    list-style-type: none;
    counter-reset: item;
    font-size: 14px;
    line-height: 19px;
    color: #363636;;
    margin-left: 240px;
}

.enumeration-points__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 102px;
}

.enumeration-points__item::before {
    content: counter(item, decimal-leading-zero);
    counter-increment: item;
    color: #fff;
    background: #E3B873;
    border: 8px solid #FFFFFF;
    padding: 9.7px 11.7px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    font-family: 'Yeseva One';
    margin-right: 18px;
}

.request-form {
    background-color: #131313;
    color: #fff;
    margin-top: 106px;
    margin-left: 210px;
    height: 553px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}

.request-form-title {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    margin-top: 28px;
}

.request-form-label-first {
    margin-top: 39px;
}

.request-form-input-label {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 48px;
    width: 408px;
}

.request-input {
    background-color: #131313;
    color: #fff;
    width: 408px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.request-input::placeholder {
    color: #fff;
}

.request-form-checkbox-label {
    margin-top: 16px;
    margin-right: 123px;
}

.request-form-button {
    padding: 13px 40px;
    font-size: 13px;
    line-height: 21px;
    margin-top: 39px;
    margin-left: 190px;
}

.pig-cost {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 900px;
    margin-top: 38px;
}

.pig-item {
    width: 72px;
    height: 72px;
    text-align: center;
    background-color: #E3B873;
    border-radius: 50%;
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
}

.pig-image {
    padding-top: 19px;
}

.pig-p {
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    margin-left: 25px;
}

.request-img {
    position: absolute;
    top: 3570px;
    max-width: 100%;
    z-index: -1;
}

/* 

    Wildest Fantasies

*/

.wildest-fantasies {
    background-image: url(../images/wildest-fantasies.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 864px;
    position: relative;
    width: 100%;
}

.wildest-fantasies-container {
    position: relative;
    z-index: 1;
    display: flex;
}

.wild-overlay {
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.wild-text {
    margin-right: 77px;
}

.subtitle-wild {
    padding-top: 137px;
    letter-spacing: normal;
}

.wildest-fantasies-slider {
    list-style-type: none;
}

.wildest-fantasies-slider__link {
    font-size: 20px;
    line-height: 38px;
    color: #fff;
    text-decoration: none;
}

.wildest-fantasies-slider__link:hover {
    color: #E3B873;
    text-decoration: underline;
}

.wildest-fantasies-slider__item {
    margin-top: 11px;
}

.wildest-fantasies-slider__item:first-child {
    margin-top: 47px;
}

.wild-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;
    flex: 1;
}

.wild-photo {
    margin-left: 43px;
}

.wild1 {
    width: 353px;
    height: 558px;
    position: relative;
    top: -41px;
}

.wild2 {
    width: 354px;
    height: 275px;
    position: relative;
    top: -113px;
    margin-bottom: -113px;
}

.wild3 {
    width: 354px;
    height: 349px;
}

.wild4 {
    width: 354px;
    height: 625px;
    position: relative;
    top: -356px;
    margin-bottom: -365px;
}

/*

    Clients

*/
.clients {
    width: 100%;
    height: 1106px;
    background-image: url("../images/clients-back-image.png");
    background-repeat: repeat-x;
    background-position: left bottom;
}

.clients-title {
    text-align: center;
    margin-top: 110px;
    font-size: 20px;
    line-height: 28px;
}

.clients-p {
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
    margin-top: 24px;
}

.client-card {
    width: 376px;
    height: 428px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.card-image {
    margin-left: 20px;
    margin-top: 6px;
    border-radius: 50%;
}

.card-title-client {
    line-height: 23px;
    padding-top: 0;
    margin-left: 24px;
}

.client-card-p {
    margin-left: 20px;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
}

.client-div {
    width: 294px;
    height: 54px;
    font-size: 17px;
    line-height: 24px;
    top: 41px;
}

.line-icon {
    margin: 0 17px;
}

.client-div-span {
    margin-left: 15px;
}

/* 

    Contacts

*/

.contacts {
    position: relative;
    width: 100%;
    height: 954px;
    background-image: url(../images/contacts-back-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contacts-container {
    position: relative;
    z-index: 1;
    top: -223px;
    margin-bottom: -223px;
    text-align: center;
}

.questions {
    width: 883px;
    height: 445px;
    margin: 0 auto;
}

.contacts-form {
    width: 883px;
    height: 445px;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contacts-form-title {
    margin-top: 35px;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    width: 100%;
    text-align: center;
}

.contacts-label {
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.5);
}

.contacts-input {
    width: 231px;
    background: transparent;
    margin-right: 58px;
    color: white;
}

.phone {
    margin-right: 0;
}

.question {
    width: 517px;
    margin-right: 0;
}

.contacts-checkbox-label {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.contacts-button {
    padding: 14px 77px;
    margin-bottom: 35px;   
}

.location {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.adress {
    margin-top: 52px;
    color: #E3B873;
    line-height: 28px;
    font-size: 20px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.soc-icon {
    background-color: #E3B873;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.email {
    margin-right: 15px;
}

.social-icon-email {
    padding-top: 8px;
}

.social-icon-inst {
    padding-top: 7px;
}

.map {
    margin: 0 auto;
    margin-top: 43px;
}

.footer {
    height: 133px;
}

.footer-content {
    height: 133px;
}